<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/site_styles.css">
    <link rel="stylesheet" href="css/header.css">
    <title>Sobre Nós - Decorações e Ambientes</title>
</head>
<header id="home">
        <nav id="navbar">
            <div id="navbar-logo">
                <img src="img/Logo_500x500(CEJU).png" alt="logo doCEJU" id="nav-logo">
            </div>
            <div id="nav-pages">
                <ul id="nav-list">
                    <li class="nav-item active">
                        <a href="/">Início</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="/lista-cursos">Cursos</a>
                    </li>
                        <li class="nav-item">
                                <a href="/lista-noticias">Noticias</a>
                        </li>
                    <li class="nav-item">
                        <a href="/#contato">Contato</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="#">Mais</a>
                        <ul class="dropdown-menu">
                             <li class="nav-item">
                                <a href="/localhost:moodle/my/">Ensino</a>
                            </li>
                            <li class="nav-item">
                                <a href="/lista-sobre_nos">Sobre Nós</a>
                            </li>
                            <li class="nav-item">
                                <a href="/lista-faqs">Perguntas Frequentes - FAQ</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <button id="mobile-btn">
				<i class="fa-solid fa-bars"></i>
			</button>
        </nav>
        <div id="mobile-menu">
            <ul id="mobile-nav-list">
                <li class="nav-item">
                    <a href="/">Início</a>
                </li>
                <li class="nav-item">
                    <a href="/lista-cursos">Cursos</a>
                </li>
                <li class="nav-item">
                    <a href="/lista-noticias">Noticias</a>
                </li>
                <li class="nav-item">
                    <a href="/#contact">Contato</a>
                </li>
                <li class="nav-item">
                                <a href="/localhost:moodle/my/">Ensino</a>
                            </li>
                <li class="nav-item">
                    <a href="/lista-sobre_nos">Sobre Nós</a>
                </li>
                <li class="nav-item">
                    <a href="/lista-faqs">Perguntas Frequentes - FAQ</a>
                </li>
            </ul>
        </div>
<body>
    
    <section id="sobre" class="py-5">
    <h1 class="text-center" style="padding-bottom: 20px;">Centro da Juventude</h1> 
    <div class="container">
        <h2 class="text-center mb-4" style="background-color: #FFFAEE;">Sobre Nós</h2>
        <p class="lead text-justify">
            No Centro da Juventude (CEJU), acreditamos no poder da educação para transformar vidas e criar oportunidades. Com uma visão voltada para o futuro, nossa missão é capacitar jovens e adultos, preparando-os para enfrentar os desafios do mercado de trabalho.
        </p>
        <p class="text-justify">
            Oferecemos uma variedade de cursos profissionalizantes e capacitações em diversas áreas, desde tecnologia e empreendedorismo até artes e desenvolvimento pessoal. Nossas formações são projetadas para atender às demandas do mercado, proporcionando habilidades práticas e conhecimentos que realmente fazem a diferença.
        </p>
        <p class="text-justify">
            Com uma equipe de educadores altamente qualificados e uma infraestrutura moderna, garantimos que nossos alunos tenham acesso ao melhor ambiente de aprendizado. No CEJU, cada curso é pensado para inspirar, motivar e equipar nossos alunos com as ferramentas necessárias para alcançar seus objetivos.
        </p>
        <p class="text-justify">
            Venha fazer parte do CEJU e descubra como podemos ajudá-lo a construir um futuro promissor. Aqui, sua jornada para o sucesso começa agora!
        </p>
    </div>
</section>
    <!-- Footer -->
    <footer class="text-center text-lg-start bg-dark text-light" id="rodape">
        <div class="container p-4">
            <div class="row">
                <!-- Social Media -->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Nos siga nas Redes Sociais</h5>
                    <ul class="list-unstyled d-flex justify-content-around">
                        <li><a href="#" class="text-dark"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#" class="text-dark"><i class="fab fa-instagram"></i></a></li>
                    </ul>
                </div>
                <div class="text-center p-3">
                    © 2024 CEJUSite.. Todos os direitos reservados.
                </div>
            </div>
        </div>
    </footer>
    <!-- Bootstrap JS -->
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
