<div class="container mt-4 w-80">
    <h1 class="mb-4">Criar Noticia</h1>
    <form id="createNoticiaForm" enctype="multipart/form-data" method="post">
        <div class="form-group mb-3">
            <label for="createTitulo">Título</label>
            <input type="text" class="form-control" id="createTitulo" name="titulo" required>
        </div>

        <div class="form-group mb-3">
            <label for="createConteudo">Conteúdo</label>
            <textarea class="form-control" id="createConteudo" name="conteudo" rows="5" required></textarea>
        </div>

        <div class="form-group mb-3">
            <label for="createImagemPrincipal">Imagem Principal</label>
            <input type="file" class="form-control-file" id="createImagemPrincipal" name="imagem_principal" required>
            <small class="form-text text-muted">Formatos aceitos: jpg, jpeg, png, gif.</small>
        </div>

        <div class="form-group mb-3">
            <label for="createImagensInternas">Imagens Internas</label>
            <input type="file" class="form-control-file" id="createImagensInternas" name="imagens_internas" multiple>
            <small class="form-text text-muted">Formatos aceitos: jpg, jpeg, png, gif. Você pode selecionar várias imagens.</small>
        </div>

        <a href="../noticias/" class="btn btn-secondary" id="cancelCreateNoticia"><i class="bi bi-x-circle"></i> Cancelar</a>
        <button type="button" class="btn btn-primary" id="saveCreatenoticia" onclick="CreateNoticiaClick(event)"><i class="bi bi-check-circle"></i> Salvar</button>
    </form>
</div>

<!-- Scripts do formulário publicacao -->
<script src="../js/noticiaScripts.js"></script>