/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* CSS Variables */
:root {
  --verde: #49c32c;
  --azul: #0060b1;
  --cinza-medio: #545454;
  --azul-escuro: #222c34;
  --branco: #ffffff;
  --cinza-claro: #ced4da;
  --bg-color: #FFFAEE;
  
  --font-primary: "Poppins", sans-serif;
  --font-secondary: "Cinzel", serif;
  
  --transition-speed: 0.3s;
}

/* Reset and Base Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-primary);
  font-weight: 500;
  background-color: var(--bg-color);
  color: var(--cinza-medio);
  line-height: 1.6;
}

/* Typography */
h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-secondary);
  font-weight: 600;
  color: var(--azul-escuro);
}

a {
  color: var(--azul);
  text-decoration: none;
  transition: color var(--transition-speed) ease;
}

a:hover {
  color: var(--verde);
}

/* Additional Styles */
header {
  background-color: var(--azul-escuro);
  color: var(--branco);
  padding: 20px;
  text-align: center;
}

footer {
  background-color: var(--cinza-claro);
  color: var(--cinza-medio);
  padding: 10px;
  text-align: center;
  font-size: 0.9rem;
}

button {
  background-color: var(--verde);
  color: var(--branco);
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color var(--transition-speed);
}

button:hover {
  background-color: var(--azul);
}

/* Media Queries */
@media (max-width: 768px) {
  body {
    font-size: 14px;
  }

  header {
    padding: 15px;
  }

  footer {
    font-size: 0.8rem;
  }

  button {
    padding: 8px 16px;
    font-size: 0.9rem;
  }
}
