<div class="container mt-5">
        <h1 class="text-center mb-4">Admin Dashboard</h1>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
                <div class="card h-100 text-center">
                    <div class="card-body">
                        <i class="bi bi-aspect-ratio display-1"></i>
                        <h5 class="card-title mt-3">Banners</h5>
                        <p class="card-text">Gerencia o caroossel da tela inicial</p>
                        <a href="/banners/" class="btn btn-primary">Gerenciar Banners</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 text-center">
                    <div class="card-body">
                        <i class="bi bi-aspect-ratio display-1"></i>
                        <h5 class="card-title mt-3">Cursos</h5>
                        <p class="card-text">Gerencias Cursos o site</p>
                        <a href="/cursos/" class="btn btn-primary">Gerenciar Publicações</a>
                    </div>
                </div>
            </div>            
            <div class="col">
                <div class="card h-100 text-center">
                    <div class="card-body">
                        <i class="bi bi-aspect-ratio display-1"></i>
                        <h5 class="card-title mt-3">Noticias</h5>
                        <p class="card-text">Gerencia os noticias do site</p>
                        <a href="/noticias/" class="btn btn-primary">Gerenciar noticias</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 text-center">
                    <div class="card-body">
                        <i class="bi bi-person display-1"></i>
                        <h5 class="card-title mt-3">Usuários</h5>
                        <p class="card-text">Gerencia as contas de usuários</p>
                        <a href="/usuarios/" class="btn btn-primary">Gerenciar Usuários</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 text-center">
                    <div class="card-body">
                        <i class="bi bi-person display-1"></i>
                        <h5 class="card-title mt-3">FAQs</h5>
                        <p class="card-text">Gerencia as Perguntas fdbdbffbfdfdfdfdFrequentes</p>
                        <a href="/faqs/" class="btn btn-primary">Gerenciar FAQs</a>
                    </div>
                </div>
            </div>            
        </div>
    </div>